---
---

@import "{{ site.theme }}";
.wrapper {
  border-radius: 0;
  width: 1000px;
  margin-top: 15px;
}

body {
  padding: 15px;
  background-color: #C0C0C0;
}

header {
  background:#000000;
  boarder-radius: 0;
  padding:10px 20px;
  boarder-bottom: 0;
  h1 {
    color:#FFFFFF;
    text-shadow: none;
  }
}

section {
  text-align: justify;
  font-weight:500;
}
