---
---

@import "{{ site.theme }}";
A:link { color: #880000;}
A:visited { color:#880000}
A:active { color: #880000}
A:hover{font-weight:bold; color: #880000;}

.wrapper {
  border-radius: 0;
  width: 1000px;
  margin-top: 15px;
}

body {
  padding: 15px;
  background-color: #C0C0C0;
}

header {
  background:#000000;
  border-radius: 0;
  padding:10px 20px;
  boarder-bottom: 0;
  h1 {
    color:#FFFFFF;
    text-shadow: none;
  }
}

section {
  text-align: justify;
  font-weight:500;
  background: #FFFFFF;
}
